<div>
  <div class="flex items-center justify-between mb-2">
    <h3 class="text-xl font-semibold">Live Logs</h3>
    <button (click)="clearLogs()" class="px-2 py-1 border rounded  bg-green-600 text-white hover:bg-green-700 transition shadow-sm">Clear</button>
  </div>

  <div id="logBox" class="h-72 overflow-auto bg-black text-green-200 p-3 rounded font-mono text-sm">
    <div *ngFor="let log of logs">{{ log }}</div>
    <div *ngIf="logs.length === 0" class="text-gray-400 text-center mt-10">
      Waiting for logs...
    </div>
  </div>
</div>
